:root {
    --background-colour: #050214;
    --foreground-colour: white;
    --card-colour: #e7d48a42;
}

html {
    background-color: var(--background-colour);
    color: var(--foreground-colour);
}

.content {
    display: flex;
    flex-flow: row wrap;
}

.content>* {
    padding: 10px;
    flex: 1 100%;
}

@media all and (min-width: 600px) {
    #makemkv-info {
        flex: 1 0 0;
    }
}

@media all and (min-width: 800px) {
    #makemkv-disc-data {
        flex: 3 0px;
    }

    #makemkv-disc-data {
        order: 1;
    }

    #makemkv-info {
        order: 2;
    }
}

#makemkv-rip {
    background-color: var(--background-colour);
    position: sticky;
    top: 0;
    margin: 0px 10px;
    display: flex;
}

.collapsible-content {
    padding-left: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.title {
    background-color: var(--card-colour);
    margin: 0px 10px;
    padding-top: 17px;
    max-width: 400px;
    border-radius: 10px;
}

.title label {
    margin-left: 10px;
}

.title input {
    margin-left: 6px;
}

.title-container {
    display: flex;
}

.track {
    margin-top: 5px;
}

.video-track {
    border-top: 2px solid #00000077;
    margin: 10px 10px 0px 10px;
    padding-top: 10px;
    padding-left: 17px;
}

.icon {
    background-color: var(--background-colour);
    border-width: 0;
    margin-top: 4px;
}

progress {
    margin: 0px 5px;
}
