html {
    background-color: #050214;
    color: white;
}

.collapsible {}

.collapsible-content {
    padding-left: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.title {
    display: inline-block;
    background-color: #0f162b;
    margin-bottom: 15px;
    margin-left: 5px;
    padding-top: 12px;
    width: 400px;
}

.track {
    margin-top: 5px;
}