{% if let Some(info) = info %}
<ul hx-get="/makemkv/disc" hx-trigger="load" hx-target="#makemkv-disc-data">
    <li>Name: {{info.name}}</li>
    <li>Version: {{info.version}}</li>
    <li>Platform: {{info.platform}}</li>
    <li>Language: {{info.interface_language}}</li>
</ul>
{% else if status == MakeMkvStatus::Initialising %}
<p hx-get="/makemkv" hx-trigger="load delay:1s" hx-target="#makemkv-info">Starting MakeMKV</p>
{% else %}
<button hx-post="/makemkv/init" hx-target="#makemkv-info">Start MakeMKV</button>
{% endif %}
