{% if let Some(title_list) = self.title_list %}
<ul>
    {% for title in title_list.titles %}
    {% if let Some(title) = title && let Some(name) = &title.name && let Some(duration) = &title.duration %}
    <li>{{name}} - {{crate::util::format_time(duration)}}</li>
    {% endif %}
    {% endfor %}
</ul>
{% else if state == MakeMkvState::GettingData %}
<p hx-post="/makemkv-disc-data-check" hx-trigger="load delay:1s" hx-target="#makemkv-disc-data">Getting disc data</p>
{% else if state == MakeMkvState::Init %}
<button hx-post="/makemkv-disc-data" hx-target="#makemkv-disc-data">Get disc data</button>
{% endif %}
